@import url('font/text.css');
html {
  font-size: 62.5%;
  height: 100%;
}
body {
  font-family: 'MaisonNeue', sans-serif;
  font-weight: 400;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  font-size: 16px;
}
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  outline: 0 !important;
  cursor: pointer;
  color: inherit;
}
a:hover {
  color: inherit;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.clear {
  clear: both;
}
.clearfix:after {
  clear: both;
}
.no-padder {
  padding: 0;
}
.no-bg {
  background: transparent !important;
}
.no-padder-right {
  padding-right: 0;
}
.no-scroll {
  overflow: hidden;
}
.font-sm {
  font-size: 18px;
  color: grey;
}
.btn {
  border-radius: 0;
  border: 0;
  padding: 20px 40px;
  color: #000000;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: .2em;
  background: #ffffff;
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}
.btn:hover {
  transition: all 0.1s linear;
  -webkit-transition: all 0.1s linear;
  -webkit-transform: translateY(-1px);
  transform: translateY(-1px);
  color: #ffffff;
  background: #000000;
  box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
}
.btn.btn-black {
  background: #000000;
  color: white;
}
.btn.btn-black:hover {
  background: #e6e6e6;
  color: #000000;
}
.btn.btn-bold {
  font-weight: bold;
}
.btn.btn-lg {
  padding: 14px 24px;
}
.btn.btn-rounded {
  border-radius: 500px;
}
.btn.btn-gradient {
  background: linear-gradient(180deg, #03a2dc, #089981);
  background: -webkit-linear-gradient(180deg, #03a2dc, #089981);
}
.btn.btn-thin {
  background: none;
  padding: 14px 24px;
  border: solid 1px #ffffff;
  color: #ffffff;
}
.btn.btn-thin:hover {
  background: none;
}
.btn.btn-clear {
  background: none;
  color: #ffffff;
  box-shadow: none;
}
.btn.btn-clear:hover {
  background: none;
}
.btn.btn-default {
  background: white;
  border: solid 1px #f5f5f5;
  box-shadow: none;
}
.btn.btn-default:hover,
.btn.btn-default:active {
  background: white;
  border-color: #f5f5f5;
}
.btn span {
  margin-left: 10px;
}
.btn span.left-icon {
  margin-left: 0;
  margin-right: 10px;
}
#slide {
  transition: all .35s;
}
.logo {
  position: fixed;
  left: 50%;
  top: 70px;
  margin-left: -220px;
  font-size: 18px;
  z-index: 1000;
}
.logo.hidden {
  opacity: 0;
  transform: translateY(0);
  -webkit-transform: translateY(0);
}
.logo:hover {
  color: #000000;
  background: #ffffff;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .logo {
    margin-left: -160px;
    width: 330px;
    height: 63px;
    line-height: 63px;
    padding-top: 0;
    position: absolute;
    top: 0;
    font-size: 10px;
    text-align: right;
  }
}
.hamburger {
  background: #ffffff;
  cursor: pointer;
  display: inline-block;
  position: fixed;
  left: 83px;
  top: 70px;
  width: 66px;
  height: 63px;
  z-index: 1001;
  text-align: center;
  padding-top: 20px;
}
.hamburger img {
  width: 30px;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .hamburger {
    left: 20px;
    top: 0;
  }
}
.menu-panel {
  width: 500px;
  height: 100vh;
  overflow-x: scroll;
  background: #383838;
  transform: translate3d(-500px, 0, 0);
  position: fixed;
  top: 0;
  transition: -webkit-transform 0.35s;
  transition: transform .35s;
  color: #ffffff;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .menu-panel {
    width: 100%;
    padding: 100px 0;
  }
}
.menu-panel ul {
  margin: 10em 0 0 5em;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .menu-panel ul {
    margin: 3em 0 0 0;
  }
}
.menu-panel li {
  list-style: none;
  width: 100%;
  font-size: 1.5em;
  font-weight: 500;
  text-transform: capitalize;
  cursor: pointer;
  margin-bottom: .1em;
}
.menu-panel li:hover {
  color: #fe3636;
  transition: .35s;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .menu-panel li {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
  }
}
@media all and (min-width: 1240px) {
  .menu-panel li {
    margin-bottom: .35em;
    font-size: 2em;
  }
}
.slide {
  transform: translate3d(500px, 0, 0);
  transition: -webkit-transform 0.35s;
  transition: transform .35s;
}
.menu_slide {
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform 0.35s;
  transition: transform .35s;
}
.hero {
  padding: 250px 0;
  background: linear-gradient(rgba(255, 0, 0, 0.45), rgba(255, 0, 0, 0.45)), url('../img/tba.jpg') no-repeat top, linear-gradient(180deg, #f2f4f7 10%, #ffffff 60%);
  background-size: cover;
  background-blend-mode: multiply;
  max-height: 1000px;
}
.hero .hero-message {
  width: 900px;
  max-width: 90%;
  margin-left: 60px;
  margin: 0 auto;
}
.hero .hero-message h1 {
  font-size: 50px;
  line-height: 1.3em;
  margin-bottom: 30px;
  text-align: center;
  color: #ffffff;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .hero .hero-message h1 {
    font-size: 45px;
  }
}
.hero .hero-message .right-now-call-to-action {
  border-bottom-width: 2px;
  border-bottom-style: dotted;
  padding-bottom: 5px;
  cursor: pointer;
}
.hero .hero-message .right-now-call-to-action:hover {
  color: #32ad75;
  transition: 1s;
}
.hero .hero-message h2 {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.3em;
  margin-bottom: 30px;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .hero .hero-message h2 {
    font-size: 18px;
  }
}
.hero .hero-message .ion-ios-arrow-down {
  font-size: 45px;
  display: block;
  margin-top: 100px;
  cursor: pointer;
}
.story {
  position: relative;
  background: #edebf0;
  text-align: center;
  padding-top: 1px;
}
.story .story-panel {
  width: 90%;
  height: auto;
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}
.story .story-panel:after {
  content: "";
  display: block;
  width: 1px;
  height: 150px;
  margin: -20px auto;
  border: 1px dashed silver;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .story-panel:after {
    height: 100px;
  }
}
.story .story-panel .bg {
  width: 100%;
  padding: 50px 0;
  margin-top: -75px;
  background: #fe3636;
  position: relative;
  color: #ffffff;
  box-shadow: 0 -10px 20px rgba(0, 0, 0, 0.08);
}
.story .story-panel .bg h2 {
  margin-bottom: 5%;
  letter-spacing: .07em;
  text-transform: uppercase;
  font-size: 15px;
}
.story .story-panel .bg h2:after {
  content: "";
  display: block;
  width: 60px;
  margin: 27px auto 0;
  height: 1px;
  background: #edebf0;
}
.story .story-panel .bg p {
  font-size: 1.6em;
  margin-bottom: 5%;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .story-panel .bg p {
    width: 80%;
    margin: 0 auto 10%;
    font-size: 4.7vw;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .story-panel .bg p br {
    display: none;
  }
}
.story .story-panel .bg i {
  font-size: 1.4em;
}
.story .header {
  margin: 5% 0 10%;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .header {
    margin: 10% 0 120px;
  }
}
.story .header h1 {
  text-transform: uppercase;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .header h1 {
    font-size: 1.2em;
  }
}
.story .header p {
  font-size: 1.66em;
  color: #1d3746;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .header p {
    width: 90%;
    margin: 0 auto;
    font-size: 4.7vw;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .story .header p br {
    display: none;
  }
}
.contact {
  background: #383838;
  padding: 100px 0;
}
.contact h1 {
  text-align: center;
  color: white;
  text-transform: uppercase;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .contact h1 {
    font-size: 1.2em;
    line-height: 1.3em;
  }
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .contact h1 br {
    display: none;
  }
}
.contact form {
  width: 40%;
  max-width: 800px;
  border: 1px dashed #999999;
  padding: 50px;
  margin: 50px auto;
  margin-bottom: 0;
}
@media all and (min-width: 320px) and (max-width: 767px) {
  .contact form {
    width: 90%;
    padding: 20px;
  }
}
.contact form input {
  border: 0;
  width: 100%;
  padding: 15px 0;
  margin-bottom: 15px;
  background: none;
  border-bottom: 2px solid #999999;
  outline: none;
  color: white;
}
.contact form textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
  border: 0;
  border-bottom: 2px solid #999999;
  background: none;
  border-top: 0;
  color: white;
  outline: none;
}
.footer {
  width: 100%;
  height: 50px;
  background: #000000;
  line-height: 50px;
  font-size: 12px;
  text-align: center;
  color: white;
}
